
<style>
	body{
		font-family: Arial, Helvetica, sans-serif;
		background-image: linear-gradient(to right, rgb(20,147,220), rgb(17, 54, 71));
	}
	.box{
		color: white;
		font-size: 20px;
		top: 10px;
		right: 10px;
	}
	#submit{
		background-image: linear-gradient(to right, rgb(0, 92, 197), rgb(90, 20, 220));
		border: none;
		padding: 10px;
		color: white;
		font-size: 15px;
		cursor: pointer;
		border-radius: 12px;
	}
	#submit:hover{
		background-image: linear-gradient(to right, rgb(0, 80, 172), rgb(80, 19, 195));
	}
</style>

<body>
	<div class="box">
		<h1><b>Selecione ao menos uma disciplina! :) </b></h1>
		<a href="/"><button type="submit" id="submit" name="submit">Retornar</button></a>
	</div>
</body>