
<style>
	body{
		font-family: Arial, Helvetica, sans-serif;
		background-image: linear-gradient(to right, rgb(20,147,220), rgb(17, 54, 71));
	}
	.box{
		color: white;
		position: absolute;
		top: 5%;
		left: 25%;
		background-color: rgba(0, 0, 0, 0.8);
		padding: 15px;
		border-radius: 15px;
		width: 50%;
	}
	fieldset{
		border: 3px solid dodgerblue;
	}
	legend{
		border: 1px solid dodgerblue;
		padding: 10px;
		text-align: center;
		background-color: dodgerblue;
		border-radius: 5px;
	}
	.inputBox{
		position: relative;
	}
	.inputUser{
		background: none;
		border: none;
		border-bottom: 1px solid white;
		outline: none;
		color: white;
		font-size: 15px;
		width: 100%;
		letter-spacing: 2px;
	}
	.labelInput{
		position: absolute;
		top: 0px;
		left: 0px;
		pointer-events: none;
		transition: .5s;

	}
	.inputUser:focus ~ .labelInput,
	.inputUser:valid ~ .labelInput{
		top:-20px;
		font-size: 12px;
		color: dodgerblue !important;
	}
	.inputUser:invalid{
		border-color: red;
	}
	span{
		position: relative;
	}
	.inputUser:invalid + span::before{
		content: ' somente números';
		color: red;
	}
	.inputUser + span::before{
		position: absolute;
		top: -6vh;
		left: 86vh;
	}
	#submit{
		background-image: linear-gradient(to right, rgb(0, 92, 197), rgb(90, 20, 220));
		width: 100%;
		border: none;
		padding: 15px;
		color: white;
		font-size: 15px;
		cursor: pointer;
		border-radius: 10px;
	}
	#submit:hover{
		background-image: linear-gradient(to right, rgb(0, 80, 172), rgb(80, 19, 195));
	}
</style>

<body>
<div class="box">
	<form action="/resultado" method="POST">
		<fieldset>
			<br>
			<b><h2>Selecione as disciplinas cursadas e aprovadas: </h2> </b> 
			<h3><b>-- Primeiro Período -- </b></h3>
			<input class="checkbox" id="Algoritmos" type="checkbox" value="Algoritmos" name="disciplinas[]">
			<label for="Algoritmos"> Algoritmos</label>
			<br>
			<input class="checkbox" id="Cálculo Diferencial e Integral 1" type="checkbox" value="Cálculo Diferencial e Integral 1" name="disciplinas[]">
			<label for="Cálculo Diferencial e Integral 1"> Cálculo Diferencial e Integral 1</label>
			<br>		
			<input class="checkbox" id="Comunicação Linguística" type="checkbox" value="Comunicação Linguística" name="disciplinas[]">
			<label for="Comunicação Linguística"> Comunicação Linguística</label>
			<br>		
			<input class="checkbox" id="Ética, Profissão e Cidadania" type="checkbox" value="Ética, Profissão e Cidadania" name="disciplinas[]">
			<label for="Ética Profissão e Cidadania"> Ética, Profissão e Cidadania</label>
			<br>		
			<input class="checkbox" id="Geometria Analítica e Álgebra Linear" type="checkbox" value="Geometria Analítica e Álgebra Linear" name="disciplinas[]">
			<label for="Geometria Analítica e Álgebra Linear"> Geometria Analítica e Álgebra Linear</label>
			<br>		
			<input class="checkbox" id="Introdução à Ciência da Computação" type="checkbox" value="Introdução à Ciência da Computação" name="disciplinas[]">
			<label for="Introdução à Ciência da Computação"> Introdução à Ciência da Computação</label>
			<br>		
			<input class="checkbox" id="Lógica Matemática" type="checkbox" value="Lógica Matemática" name="disciplinas[]">
			<label for="Lógica Matemática"> Lógica Matemática</label>
			<br>
			<h3><b>-- Segundo Período -- </b></h3>		
			<input class="checkbox" id="Algoritmos e Estruturas de Dados 1" type="checkbox" value="Algoritmos e Estruturas de Dados 1" name="disciplinas[]">
			<label for="Algoritmos e Estruturas de Dados 1"> Algoritmos e Estruturas de Dados 1</label>
			<br>		
			<input class="checkbox" id="Elementos de Lógica Digital" type="checkbox" value="Elementos de Lógica Digital" name="disciplinas[]">
		    <label for="Elementos de Lógica Digital"> Elementos de Lógica Digital</label>
			<br>		
			<input class="checkbox" id="Fundamentos de Administração" type="checkbox" value="Fundamentos de Administração" name="disciplinas[]">
			<label for="Fundamentos de Administração"> Fundamentos de Administração</label>
			<br>		
			<input class="checkbox" id="Física 3" type="checkbox" value="Física 3" name="disciplinas[]">
			<label for="Física 3"> Física 3</label>
			<br>		
			<input class="checkbox" id="Probabilidade e Estatística" type="checkbox" value="Probabilidade e Estatística" name="disciplinas[]">
			<label for="Probabilidade e Estatística"> Probabilidade e Estatística</label>
			<br>	
			<h3><b>-- Terceiro Período -- </b></h3>	
			<input class="checkbox" id="Algoritmos e Estruturas de Dados 2" type="checkbox" value="Algoritmos e Estruturas de Dados 2" name="disciplinas[]">
			<label for="Algoritmos e Estruturas de Dados 2"> Algoritmos e Estruturas de Dados 2</label>
			<br>		
			<input class="checkbox" id="Arquitetura e Organização de Computadores" type="checkbox" value="Arquitetura e Organização de Computadores" name="disciplinas[]">
			<label for="Arquitetura e Organização de Computadores"> Arquitetura e Organização de Computadores</label>
			<br>		
			<input class="checkbox" id="Interação Homem-Computador" type="checkbox" value="Interação Homem-Computador" name="disciplinas[]">
			<label for="Interação Homem-Computador"> Interação Homem-Computador</label>
			<br>		
			<input class="checkbox" id="Análise e Projeto Orientado a Objetos" type="checkbox" value="Análise e Projeto Orientado a Objetos" name="disciplinas[]">
			<label for="Análise e Projeto Orientado a Objetos"> Análise e Projeto Orientado a Objetos</label>
			<br>		
			<input class="checkbox" id="Banco de Dados 1" type="checkbox" value="Banco de Dados 1" name="disciplinas[]">
			<label for="Banco de Dados 1"> Banco de Dados 1</label>
			<br>		
			<input class="checkbox" id="Cálculo Numérico" type="checkbox" value="Cálculo Numérico" name="disciplinas[]">
			<label for="Cálculo Numérico"> Cálculo Numérico</label>
			<br>	
			<h3><b>-- Quarto Período -- </b></h3>
			<input class="checkbox" id="Análise de Algoritmos" type="checkbox" value="Análise de Algoritmos" name="disciplinas[]">
			<label for="Análise de Algoritmos"> Análise de Algoritmos</label>
			<br>	
			<input class="checkbox" id="Linguagens Formais, Autômatos e Computabilidade" type="checkbox" value="Linguagens Formais, Autômatos e Computabilidade" name="disciplinas[]">
			<label for="Linguagens Formais, Autômatos e Computabilidade"> Linguagens Formais, Autômatos e Computabilidade</label>
			<br>		
			<input class="checkbox" id="Sistemas Microcontrolados" type="checkbox" value="Sistemas Microcontrolados" name="disciplinas[]">
			<label for="Sistemas Microcontrolados"> Sistemas Microcontrolados</label>
			<br>		
			<input class="checkbox" id="Redes de Computadores 1" type="checkbox" value="Redes de Computadores 1" name="disciplinas[]">
			<label for="Redes de Computadores 1"> Redes de Computadores 1</label>
			<br>		
			<input class="checkbox" id="Banco de Dados 2" type="checkbox" value="Banco de Dados 2" name="disciplinas[]">
		    <label for="Banco de Dados 2"> Banco de Dados 2</label>
			<br>		
			<input class="checkbox" id="Programação de Aplicativos" type="checkbox" value="Programação de Aplicativos" name="disciplinas[]">
			<label for="Programação de Aplicativos"> Programação de Aplicativos</label>
			<br>		
			<input class="checkbox" id="Sistemas Operacionais" type="checkbox" value="Sistemas Operacionais" name="disciplinas[]">
			<label for="Sistemas Operacionais"> Sistemas Operacionais</label>
			<br>		
			<h3><b>-- Quinto Período -- </b></h3>
			<input class="checkbox" id="Linguagens de Programação" type="checkbox" value="Linguagens de Programação" name="disciplinas[]">
			<label for="Linguagens de Programação"> Linguagens de Programação</label>
			<br>		
			<input class="checkbox" id="Teoria dos Grafos" type="checkbox" value="Teoria dos Grafos" name="disciplinas[]">
			<label for="Teoria dos Grafos"> Teoria dos Grafos</label>
			<br>		
			<input class="checkbox" id="Projeto Integrador" type="checkbox" value="Projeto Integrador" name="disciplinas[]">
			<label for="Projeto Integrador"> Projeto Integrador</label>
			<br>		
			<input class="checkbox" id="Redes de Computadores 2" type="checkbox" value="Redes de Computadores 2" name="disciplinas[]">
			<label for="Redes de Computadores 2"> Redes de Computadores 2</label>
		    <br>		
			<input class="checkbox" id="Engenharia de Software 1" type="checkbox" value="Engenharia de Software 1" name="disciplinas[]">
			<label for="Engenharia de Software 1"> Engenharia de Software 1</label>
			<br>		
			<input class="checkbox" id="Computação Gráfica" type="checkbox" value="Computação Gráfica" name="disciplinas[]">
			<label for="Computação Gráfica"> Computação Gráfica</label>
			<br>		
			<input class="checkbox" id="Inteligência Artificial" type="checkbox" value="Inteligência Artificial" name="disciplinas[]">
			<label for="Inteligência Artificial"> Inteligência Artificial</label>
			<br>
			<h3><b>-- Sexto Período -- </b></h3>		
			<input class="checkbox" id="Metodologia de Pesquisa" type="checkbox" value="Metodologia de Pesquisa" name="disciplinas[]">
			<label for="Metodologia de Pesquisa"> Metodologia de Pesquisa</label>
			<br>		
			<input class="checkbox" id="Compiladores" type="checkbox" value="Compiladores" name="disciplinas[]">
			<label for="Compiladores"> Compiladores</label>
			<br>		
			<input class="checkbox" id="Sistemas Distribuídos" type="checkbox" value="Sistemas Distribuídos" name="disciplinas[]">
			<label for="Sistemas Distribuídos"> Sistemas Distribuídos</label>
			<br>		
			<input class="checkbox" id="Segurança e Auditoria de Sistemas" type="checkbox" value="Segurança e Auditoria de Sistemas" name="disciplinas[]">
			<label for="Segurança e Auditoria de Sistemas"> Segurança e Auditoria de Sistemas</label>
			<br>		
			<input class="checkbox" id="Engenharia de Software 2" type="checkbox" value="Engenharia de Software 2" name="disciplinas[]">
			<label for="Engenharia de Software 2"> Engenharia de Software 2</label>
			<br>	
			<input class="checkbox" id="Processamento de Imagens" type="checkbox" value="Processamento de Imagens" name="disciplinas[]">
			<label for="Processamento de Imagens"> Processamento de Imagens</label>
			<br>	
			<h3><b>-- Sétimo Período -- </b></h3>
			<input class="checkbox" id="Tópicos Avançados em Ciência da Computação 1" type="checkbox" value="Tópicos Avançados em Ciência da Computação 1" name="disciplinas[]">
			<label for="Tópicos Avançados em Ciência da Computação 1"> Tópicos Avançados em Ciência da Computação 1</label>
			<br>		
			<input class="checkbox" id="Trabalho de Conclusão de Curso 1" type="checkbox" value="Trabalho de Conclusão de Curso 1" name="disciplinas[]">
			<label for="Trabalho de Conclusão de Curso 1"> Trabalho de Conclusão de Curso 1</label>
			<br>	
			<h3><b>-- Oitavo Período -- </b></h3>	
			<input class="checkbox" id="Empreendedorismo" type="checkbox" value="Empreendedorismo" name="disciplinas[]">
			<label for="Empreendedorismo"> Empreendedorismo</label>
			<br>		
			<input class="checkbox" id="Tópicos Avançados em Ciência da Computação 2" type="checkbox" value="Tópicos Avançados em Ciência da Computação 2" name="disciplinas[]">
			<label for="Tópicos Avançados em Ciência da Computação 2"> Tópicos Avançados em Ciência da Computação 2</label>
			<br>		
			<input class="checkbox" id="Trabalho de Conclusão de Curso 2" type="checkbox" value="Trabalho de Conclusão de Curso 2" name="disciplinas[]">
			<label for="Trabalho de Conclusão de Curso 2"> Trabalho de Conclusão de Curso 2</label>
			<br><br>
			<h3><b>-- Optativas -- </b></h3>
			<input class="checkbox" id="Arquiteturas Avançadas de Computadores" type="checkbox" value="Arquiteturas Avançadas de Computadores" name="optativas[]">
			<label for="Arquiteturas Avançadas de Computadores"> Arquiteturas Avançadas de Computadores</label>
			<br>
			<input class="checkbox" id="Aprendizagem de Máquina" type="checkbox" value="Aprendizagem de Máquina" name="optativas[]">
			<label for="Aprendizagem de Máquina"> Aprendizagem de Máquina</label>
			<br>		
			<input class="checkbox" id="Administração de Sistemas Unix" type="checkbox" value="Administração de Sistemas Unix" name="optativas[]">
			<label for="Administração de Sistemas Unix"> Administração de Sistemas Unix</label>
			<br>		
			<input class="checkbox" id="Pesquisa Operacional" type="checkbox" value="Pesquisa Operacional" name="optativas[]">
			<label for="Pesquisa Operacional"> Pesquisa Operacional</label>
			<br>		
			<input class="checkbox" id="Comunicação de Dados" type="checkbox" value="Comunicação de Dados" name="optativas[]">
			<label for="Comunicação de Dados"> Comunicação de Dados</label>
			<br>		
			<input class="checkbox" id="Computação Física" type="checkbox" value="Computação Física" name="optativas[]">
			<label for="Computação Física"> Computação Física</label>
			<br>		
			<input class="checkbox" id="Computação Movel" type="checkbox" value="Computação Movel" name="optativas[]">
			<label for="Computação Movel"> Computação Movel</label>
			<br>	
			<input class="checkbox" id="Computação Musical" type="checkbox" value="Computação Musical" name="optativas[]">
			<label for="Computação Musical"> Computação Musical</label>
			<br>		
			<input class="checkbox" id="Computação Verde" type="checkbox" value="Computação Verde" name="optativas[]">
		    <label for="Computação Verde"> Computação Verde</label>
			<br>		
			<input class="checkbox" id="Computação Paralela e Distribuída" type="checkbox" value="Computação Paralela e Distribuída" name="optativas[]">
			<label for="Computação Paralela e Distribuída"> Computação Paralela e Distribuída</label>
			<br>		
			<input class="checkbox" id="Desenvolvimento de Aplicações Computacionais para Apoio a Ensino e Aprendizagem" type="checkbox" value="Desenvolvimento de Aplicações Computacionais para Apoio a Ensino e Aprendizagem" name="optativas[]">
			<label for="Desenvolvimento de Aplicações Computacionais para Apoio a Ensino e Aprendizagem"> Desenvolvimento de Aplicações Computacionais para Apoio a Ensino e Aprendizagem</label>
			<br>		
			<input class="checkbox" id="Desenvolvimento de Jogos" type="checkbox" value="Desenvolvimento de Jogos" name="optativas[]">
			<label for="Desenvolvimento de Jogos"> Desenvolvimento de Jogos</label>
			<br>	
			<input class="checkbox" id="Desenvolvimento de Software Livre" type="checkbox" value="Desenvolvimento de Software Livre" name="optativas[]">
			<label for="Desenvolvimento de Software Livre"> Desenvolvimento de Software Livre</label>
			<br>		
			<input class="checkbox" id="Desenvolvimento Web" type="checkbox" value="Desenvolvimento Web" name="optativas[]">
			<label for="Desenvolvimento Web"> Desenvolvimento Web</label>
			<br>		
			<input class="checkbox" id="Engenharia de Software Empírica" type="checkbox" value="Engenharia de Software Empírica" name="optativas[]">
			<label for="Engenharia de Software Empírica"> Engenharia de Software Empírica</label>
			<br>		
			<input class="checkbox" id="Interfaces não Convencionais" type="checkbox" value="Interfaces não Convencionais" name="optativas[]">
			<label for="Interfaces não Convencionais"> Interfaces não Convencionais</label>
			<br>		
			<input class="checkbox" id="Laboratório de Banco de Dados" type="checkbox" value="Laboratório de Banco de Dados" name="optativas[]">
			<label for="Laboratório de Banco de Dados"> Laboratório de Banco de Dados</label>
			<br>		
			<input class="checkbox" id="Laboratório de Programação Extrema" type="checkbox" value="Laboratório de Programação Extrema" name="optativas[]">
			<label for="Laboratório de Programação Extrema"> Laboratório de Programação Extrema</label>
			<br>	
			<input class="checkbox" id="Laboratório de Redes" type="checkbox" value="Laboratório de Redes" name="optativas[]">
			<label for="Laboratório de Redes"> Laboratório de Redes</label>
			<br>	
			<input class="checkbox" id="Mineração de Dados" type="checkbox" value="Mineração de Dados" name="optativas[]">
			<label for="Mineração de Dados"> Mineração de Dados</label>
			<br>		
			<input class="checkbox" id="Modelagem e Implementação de Processos de Negócios" type="checkbox" value="Modelagem e Implementação de Processos de Negócios" name="optativas[]">
			<label for="Modelagem e Implementação de Processos de Negócios"> Modelagem e Implementação de Processos de Negócios</label>
			<br>		
			<input class="checkbox" id="Mineração de Repositório de Software" type="checkbox" value="Mineração de Repositório de Software" name="optativas[]">
			<label for="Mineração de Repositório de Software"> Mineração de Repositório de Software</label>
			<br>		
			<input class="checkbox" id="Máquinas Virtuais e Emulação de Sistemas" type="checkbox" value="Máquinas Virtuais e Emulação de Sistemas" name="optativas[]">
		    <label for="Máquinas Virtuais e Emulação de Sistemas"> Máquinas Virtuais e Emulação de Sistemas</label>
			<br>		
			<input class="checkbox" id="Desenvolvimento Orientado a Aspectos" type="checkbox" value="Desenvolvimento Orientado a Aspectos" name="optativas[]">
			<label for="Desenvolvimento Orientado a Aspectos"> Desenvolvimento Orientado a Aspectos</label>
			<br>		
			<input class="checkbox" id="Programação Concorrente" type="checkbox" value="Programação Concorrente" name="optativas[]">
			<label for="Programação Concorrente"> Programação Concorrente</label>
			<br>		
			<input class="checkbox" id="Paradigmas de Programação Paralela e Distribuída" type="checkbox" value="Paradigmas de Programação Paralela e Distribuída" name="optativas[]">
			<label for="Paradigmas de Programação Paralela e Distribuída"> Paradigmas de Programação Paralela e Distribuída</label>
			<br>		
			<input class="checkbox" id="Programação Paralela e Concorrente" type="checkbox" value="Programação Paralela e Concorrente" name="optativas[]">
			<label for="Programação Paralela e Concorrente"> Programação Paralela e Concorrente</label>
			<br>		
			<input class="checkbox" id="Processamento de Transações" type="checkbox" value="Processamento de Transações" name="optativas[]">
			<label for="Processamento de Transações"> Processamento de Transações</label>
			<br>		
			<input class="checkbox" id="Recuperação de Informação" type="checkbox" value="Recuperação de Informação" name="optativas[]">
			<label for="Recuperação de Informação"> Recuperação de Informação</label>
		    <br>		
			<input class="checkbox" id="Reconhecimento de Padrões" type="checkbox" value="Reconhecimento de Padrões" name="optativas[]">
			<label for="Reconhecimento de Padrões"> Reconhecimento de Padrões</label>
			<br>		
			<input class="checkbox" id="Revisão Sistemática" type="checkbox" value="Revisão Sistemática" name="optativas[]">
			<label for="Revisão Sistemática"> Revisão Sistemática</label>
			<br>		
			<input class="checkbox" id="Software Básico" type="checkbox" value="Software Básico" name="optativas[]">
			<label for="Software Básico"> Software Básico</label>
			<br>	
			<input class="checkbox" id="Sistemas Colaborativos" type="checkbox" value="Sistemas Colaborativos" name="optativas[]">
			<label for="Sistemas Colaborativos"> Sistemas Colaborativos</label>
			<br>		
			<input class="checkbox" id="Segurança da Informação em Ambientes Open Source" type="checkbox" value="Segurança da Informação em Ambientes Open Source" name="optativas[]">
			<label for="Segurança da Informação em Ambientes Open Source"> Segurança da Informação em Ambientes Open Source</label>
			<br>		
			<input class="checkbox" id="Switching e Redes Wan" type="checkbox" value="Switching e Redes Wan" name="optativas[]">
			<label for="Switching e Redes Wan"> Switching e Redes Wan</label>
			<br>		
			<input class="checkbox" id="Sistemas Sensíveis ao Contexto" type="checkbox" value="Sistemas Sensíveis ao Contexto" name="optativas[]">
			<label for="Sistemas Sensíveis ao Contexto"> Sistemas Sensíveis ao Contexto</label>
			<br>		
			<input class="checkbox" id="Serviços Web" type="checkbox" value="Serviços Web" name="optativas[]">
			<label for="Serviços Web"> Serviços Web</label>
			<br>	
			<input class="checkbox" id="Tecnicas de Descrição Formal" type="checkbox" value="Tecnicas de Descrição Formal" name="optativas[]">
			<label for="Tecnicas de Descrição Formal"> Tecnicas de Descrição Formal</label>
			<br>	
			<input class="checkbox" id="Tecnologias da Informação e Comunicação" type="checkbox" value="Tecnologias da Informação e Comunicação" name="optativas[]">
			<label for="Tecnologias da Informação e Comunicação"> Tecnologias da Informação e Comunicação</label>
			<br>		
			<input class="checkbox" id="Teste e Inspeção de Software" type="checkbox" value="Teste e Inspeção de Software" name="optativas[]">
			<label for="Teste e Inspeção de Software"> Teste e Inspeção de Software</label>
			<br>		
			<input class="checkbox" id="Visão Computacional" type="checkbox" value="Visão Computacional" name="optativas[]">
			<label for="Visão Computacional"> Visão Computacional</label>
			<br>		
			<input class="checkbox" id="Visualização de Dados" type="checkbox" value="Visualização de Dados" name="optativas[]">
			<label for="Visualização de Dados"> Visualização de Dados</label>
			<br>		
			<input class="checkbox" id="Web Design" type="checkbox" value="Web Design" name="optativas[]">
			<label for="Web Design"> Web Design</label>
			<br>		
			<input class="checkbox" id="Web Semantica" type="checkbox" value="Web Semantica" name="optativas[]">
			<label for="Web Semantica"> Web Semantica</label>
			<br><br><br>
			<div class="inputBox"> 
				<input type="number" min="1" max="8" name="periodoAtual" id="periodoAtual" class="inputUser" required>
				<span></span>
				<label for="periodoAtual" class="labelInput">Em qual período você está atualmente? </label>
			</div>
			<br><br>
			<div class="inputBox"> 
				<input type="number" min="0" max="1000" name="humanasAnti" id="humanasAnti" class="inputUser" required>
				<span></span>
				<label for="humanasAnti" class="labelInput">Quantas matérias de humanas você já foi aprovado? </label>
			</div>
			<br><br>
			<div class="inputBox"> 
				<input type="number" min="0" max="1000" name="extensao" id="extensao" class="inputUser" required>
				<span></span>
				<label for="extensao" class="labelInput">Quantas horas de extensão você já realizou? </label>
			</div>
			<br><br>
			<button type="submit" id="submit" name="submit">Enviar</button>
		</fieldset>
	</form>
</div>
</bory>

<script type="text/javascript">
	function checkUncheck(){
		console.log("entrei");
	} 
</script>
